<% page.posts.each(function(post){ %>
    <article class="post">
        <h2 class="title"> <a href="#"><%= post.title %></a> </h2>
        <div class="meta">
            发布于2017-08-21, 更新于2017-09-23
        </div>
        <div class="article-content">
            <%- post.excerpt || post.content %>
        </div>
    </article>
<% }) %>
