.footer
  - var hexoURL = "https://hexo.io/";
  - var mipUrl = "https://github.com/xuexb/hexo-theme-mip/";
  - var year = new Date().getFullYear();
  - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
  p © #{year} #[a(href=config.url)!= config.author] , powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=mipUrl, target="_blank") hexo-theme-mip].
