doctype
html(lang=config.language,mip)
  head
    include head
  body
    include nav
    .main
      block container
      block pagination
    include copyright
    include totop
    include scripts
