mip-fixed(type="top")
  div.mip-nav-wrapper
    mip-nav-slidedown(data-id="bs-navbar" class="mip-element-sidebar container" data-showbrand="1" data-brandname=config.author data-brandhref=url_for())
      nav(id="bs-navbar" class="navbar-collapse collapse navbar navbar-static-top")
        ul(class="nav navbar-nav navbar-right")
          each value, key in theme.menu
            li
              a(href=url_for(value))
                != __(`menu.${key}`)
          li.navbar-wise-close
            span#navbar-wise-close-btn
