script(src="https://c.mipcdn.com/static/v1/mip.js")
script(src="https://c.mipcdn.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js")
script(src="https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js")
script(src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js")
