.mip-nav-wrapper {
    padding: 0 10px;
    background-color: #323436;
}
.navbar-brand,
.mip-nav-wrapper a {
    color: #fff !important;
}
.navbar-brand {
    display: block;
    overflow: hidden;
    max-width: 200px;
    line-height: 41px;
    white-space: nowrap;
    text-overflow: ellipsis;
}