a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  outline: 0;;
}body {
  line-height: 1;
  color: #000;
  background: #fff;
}ol,
ul {
  list-style: none;
}table {
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: separate;;
}caption,
td,
th {
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
}a img {
  border: none;
}html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
}*,
:after,
:before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
      box-sizing: inherit;
}button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}button,
input,
select {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #444;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}
